##DATE## ##TIME## ##CS_URI_STEM## ##CS_URI_QUERY## "##S_CONTENTPATH##" ##SC_STATUS## ##COMPUTER_NAME## ##REFERRER## ##SC_WIN32_STATUS## ##SC_BYTES## ##CS_BYTES## ##TIMETAKENMS## ##SITE## ##INTERNAL_IP## ##PORT## ##REQUEST_PER_SECOND## ##CS_HOST## ##INTERNAL_IP## ##CS_VERSION## ##CS_PROTOCOL## ##CS_METHOD## ##CPU_UTILIZATION## ##W3WP_PRIVATEBYTES## ##CS_USERNAME## "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/##EXTERNAL_IP## Safari/537.36" ##TIME_LOCAL## ##SC_SUBSTATUS## ##SC_PROXY## ##DATE_LOCAL## ##COOKIE##