[TTTTTTTTTT] EXTERNAL COMMAND: ADD_HOST_COMMENT;host_name;persistent;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: ADD_SVC_COMMENT;host_name;service_description;persistent;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: DEL_HOST_COMMENT;comment_id
[TTTTTTTTTT] EXTERNAL COMMAND: DEL_SVC_COMMENT;comment_id
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_SVC_CHECK;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_SVC_CHECK;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_NOTIFICATIONS
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_NOTIFICATIONS
[TTTTTTTTTT] EXTERNAL COMMAND: RESTART_PROGRAM
[TTTTTTTTTT] EXTERNAL COMMAND: SHUTDOWN_PROGRAM
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_SVC_NOTIFICATIONS;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_SVC_NOTIFICATIONS;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: DEL_ALL_HOST_COMMENTS;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: DEL_ALL_SVC_COMMENTS;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_HOST_NOTIFICATIONS;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_HOST_NOTIFICATIONS;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_ALL_NOTIFICATIONS_BEYOND_HOST;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_ALL_NOTIFICATIONS_BEYOND_HOST;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_HOST_AND_CHILD_NOTIFICATIONS;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_HOST_AND_CHILD_NOTIFICATIONS;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: SET_HOST_NOTIFICATION_NUMBER;host_name;notification_number
[TTTTTTTTTT] EXTERNAL COMMAND: SET_SVC_NOTIFICATION_NUMBER;host_name;service_description;notification_number
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_SERVICE_FRESHNESS_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_HOST_FRESHNESS_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_SERVICE_FRESHNESS_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_HOST_FRESHNESS_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_AND_PROPAGATE_TRIGGERED_HOST_DOWNTIME;host_name;start_time;end_time;fixed;trigger_id;duration;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_AND_PROPAGATE_HOST_DOWNTIME;host_name;start_time;end_time;fixed;trigger_id;duration;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_SVC_CHECK;host_name;service_description;check_time
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_HOST_SVC_CHECKS;host_name;check_time
[TTTTTTTTTT] EXTERNAL COMMAND: SAVE_STATE_INFORMATION
[TTTTTTTTTT] EXTERNAL COMMAND: READ_STATE_INFORMATION
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_HOST_SVC_CHECKS;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_HOST_SVC_CHECKS;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_HOST_SVC_NOTIFICATIONS;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_HOST_SVC_NOTIFICATIONS;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: DELAY_SVC_NOTIFICATION;host_name;service_description;notification_time
[TTTTTTTTTT] EXTERNAL COMMAND: DELAY_HOST_NOTIFICATION;host_name;notification_time
[TTTTTTTTTT] EXTERNAL COMMAND: ACKNOWLEDGE_HOST_PROBLEM;host_name;sticky;notify;persistent;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: ACKNOWLEDGE_SVC_PROBLEM;host_name;service_description;sticky;notify;persistent;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: START_EXECUTING_SVC_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: STOP_EXECUTING_SVC_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: START_ACCEPTING_PASSIVE_SVC_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: STOP_ACCEPTING_PASSIVE_SVC_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_PASSIVE_SVC_CHECKS;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_PASSIVE_SVC_CHECKS;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_EVENT_HANDLERS
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_EVENT_HANDLERS
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_HOST_EVENT_HANDLER;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_HOST_EVENT_HANDLER;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_SVC_EVENT_HANDLER;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_SVC_EVENT_HANDLER;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_HOST_CHECK;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_HOST_CHECK;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: START_OBSESSING_OVER_SVC_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: STOP_OBSESSING_OVER_SVC_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: START_OBSESSING_OVER_HOST_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: STOP_OBSESSING_OVER_HOST_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: START_OBSESSING_OVER_HOST;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: STOP_OBSESSING_OVER_HOST;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: START_OBSESSING_OVER_SVC;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: STOP_OBSESSING_OVER_SVC;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_FAILURE_PREDICTION
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_FAILURE_PREDICTION
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_PERFORMANCE_DATA
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_PERFORMANCE_DATA
[TTTTTTTTTT] EXTERNAL COMMAND: START_EXECUTING_HOST_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: STOP_EXECUTING_HOST_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: START_ACCEPTING_PASSIVE_HOST_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: STOP_ACCEPTING_PASSIVE_HOST_CHECKS
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_PASSIVE_HOST_CHECKS;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_PASSIVE_HOST_CHECKS;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_FLAP_DETECTION
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_FLAP_DETECTION
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_HOST_FLAP_DETECTION;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_SVC_FLAP_DETECTION;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_HOST_FLAP_DETECTION;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_SERVICE_FLAP_DETECTION;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_HOSTGROUP_SVC_NOTIFICATIONS;hostgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_HOSTGROUP_SVC_NOTIFICATIONS;hostgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_HOSTGROUP_HOST_NOTIFICATIONS;hostgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_HOSTGROUP_HOST_NOTIFICATIONS;hostgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_HOSTGROUP_SVC_CHECKS;hostgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_HOSTGROUP_SVC_CHECKS;hostgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_HOSTGROUP_HOST_CHECKS;hostgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_HOSTGROUP_HOST_CHECKS;hostgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_HOSTGROUP_PASSIVE_HOST_CHECKS;hostgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_HOSTGROUP_PASSIVE_HOST_CHECKS;hostgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_HOSTGROUP_PASSIVE_SVC_CHECKS;hostgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_HOSTGROUP_PASSIVE_SVC_CHECKS;hostgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_SERVICEGROUP_SVC_NOTIFICATIONS;servicegroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_SERVICEGROUP_SVC_NOTIFICATIONS;servicegroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_SERVICEGROUP_HOST_NOTIFICATIONS;servicegroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_SERVICEGROUP_HOST_NOTIFICATIONS;servicegroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_SERVICEGROUP_SVC_CHECKS;servicegroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_SERVICEGROUP_SVC_CHECKS;servicegroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_SERVICEGROUP_HOST_CHECKS;servicegroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_SERVICEGROUP_HOST_CHECKS;servicegroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_SERVICEGROUP_PASSIVE_SVC_CHECKS;servicegroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_SERVICEGROUP_PASSIVE_SVC_CHECKS;servicegroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_SERVICEGROUP_PASSIVE_HOST_CHECKS;servicegroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_SERVICEGROUP_PASSIVE_HOST_CHECKS;servicegroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_GLOBAL_HOST_EVENT_HANDLER;event_handler_command
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_GLOBAL_SVC_EVENT_HANDLER;event_handler_command
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_HOST_EVENT_HANDLER;host_name;event_handler_command
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_SVC_EVENT_HANDLER;host_name;service_description;event_handler_command
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_HOST_CHECK_COMMAND;host_name;check_command
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_SVC_CHECK_COMMAND;host_name;service_description;check_command
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_NORMAL_HOST_CHECK_INTERVAL;host_name;check_interval
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_NORMAL_SVC_CHECK_INTERVAL;host_name;service_description;check_interval
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_RETRY_SVC_CHECK_INTERVAL;host_name;service_description;check_interval
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_MAX_HOST_CHECK_ATTEMPTS;host_name;check_attempts
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_MAX_SVC_CHECK_ATTEMPTS;host_name;service_description;check_attempts
[TTTTTTTTTT] EXTERNAL COMMAND: PROCESS_SERVICE_CHECK_RESULT;host_name;service_description;return_code;plugin_output
[TTTTTTTTTT] EXTERNAL COMMAND: PROCESS_HOST_CHECK_RESULT;host_name;status_code;plugin_output
[TTTTTTTTTT] EXTERNAL COMMAND: REMOVE_HOST_ACKNOWLEDGEMENT;host_name
[TTTTTTTTTT] EXTERNAL COMMAND: REMOVE_SVC_ACKNOWLEDGEMENT;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_HOST_DOWNTIME;host_name;start_time;end_time;fixed;trigger_id;duration;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_SVC_DOWNTIME;host_name;service_desriptionstart_time;end_time;fixed;trigger_id;duration;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_SERVICEGROUP_SVC_DOWNTIME;servicegroup_name;start_time;end_time;fixed;trigger_id;duration;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_SERVICEGROUP_HOST_DOWNTIME;servicegroup_name;start_time;end_time;fixed;trigger_id;duration;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_HOST_SVC_DOWNTIME;host_name;start_time;end_time;fixed;trigger_id;duration;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_HOSTGROUP_HOST_DOWNTIME;hostgroup_name;start_time;end_time;fixed;trigger_id;duration;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_HOSTGROUP_SVC_DOWNTIME;hostgroup_name;start_time;end_time;fixed;trigger_id;duration;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: DEL_HOST_DOWNTIME;downtime_id
[TTTTTTTTTT] EXTERNAL COMMAND: DEL_SVC_DOWNTIME;downtime_id
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_HOST_CHECK;host_name;check_time
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_FORCED_HOST_CHECK;host_name;check_time
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_FORCED_SVC_CHECK;host_name;service_description;check_time
[TTTTTTTTTT] EXTERNAL COMMAND: SCHEDULE_FORCED_HOST_SVC_CHECKS;host_name;check_time
[TTTTTTTTTT] EXTERNAL COMMAND: PROCESS_FILE;file_name;delete
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_HOST_CHECK_TIMEPERIOD;host_name;check_timeperod
[TTTTTTTTTT] EXTERNAL COMMAND: SEND_CUSTOM_HOST_NOTIFICATION;host_name;options;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: SEND_CUSTOM_SVC_NOTIFICATION;host_name;service_description;options;author;comment
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_RETRY_HOST_CHECK_INTERVAL;host_name;service_description;check_interval
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_SVC_CHECK_TIMEPERIOD;host_name;service_description;check_timeperiod
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_HOST_CHECK_TIMEPERIOD;host_name;timeperiod
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_CUSTOM_HOST_VAR;host_name;varname;varvalue
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_CUSTOM_SVC_VAR;host_name;service_description;varname;varvalue
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_CUSTOM_CONTACT_VAR;contact_name;varname;varvalue
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_CONTACT_HOST_NOTIFICATIONS;contact_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_CONTACT_HOST_NOTIFICATIONS;contact_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_CONTACT_SVC_NOTIFICATIONS;contact_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_CONTACT_SVC_NOTIFICATIONS;contact_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_CONTACTGROUP_HOST_NOTIFICATIONS;contactgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_CONTACTGROUP_HOST_NOTIFICATIONS;contactgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: ENABLE_CONTACTGROUP_SVC_NOTIFICATIONS;contactgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_CONTACTGROUP_SVC_NOTIFICATIONS;contactgroup_name
[TTTTTTTTTT] EXTERNAL COMMAND: DISABLE_SVC_FLAP_DETECTION;host_name;service_description
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_SVC_NOTIFICATION_TIMEPERIOD;host_name;service_description;notification_timeperiod
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_CONTACT_SVC_NOTIFICATION_TIMEPERIOD;contact_name;notification_timeperiod
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_CONTACT_HOST_NOTIFICATION_TIMEPERIOD;contact_name;notification_timeperiod
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_HOST_MODATTR;host_name;value
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_SVC_MODATTR;host_name;service_description;value
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_CONTACT_MODATTR;contact_name;value
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_CONTACT_MODHATTR;contact_name;value
[TTTTTTTTTT] EXTERNAL COMMAND: CHANGE_CONTACT_MODSATTR;contact_name;value