###SRC_IP### ###SITE### - ###USER### 80 [03/May/2016:12:59:05 -0700] "GET /server-status?auto HTTP/1.1" "?auto" 200 871 "-" "###USER_AGENT###" 146 1024 1253
###SRC_IP### ###SITE### - ###USER### 80 [03/May/2016:12:59:35 -0700] "GET /server-status?auto HTTP/1.1" "?auto" 200 872 "-" "###USER_AGENT###" 146 1025 1495
###SRC_IP### ###SITE### - ###USER### 80 [03/May/2016:10:35:33 -0700] "GET /server-status?auto HTTP/1.1" "?auto" 200 872 "-" "###USER_AGENT###" 146 925 971
###SRC_IP### ###SITE### - ###USER### 80 [03/May/2016:11:35:33 -0700] "GET /server-status?auto HTTP/1.1" "?auto" 200 872 "-" "###USER_AGENT###" 146 1025 871
###SRC_IP### ###SITE### - ###USER### 80 [25/Apr/2016:27:03:16 -0700] "HEAD /server-status?auto HTTP/1.1" "?auto" 200 - "-" "###USER_AGENT###" 92 153 1648
###SRC_IP### ###SITE### - ###USER### 80 [28/Apr/2016:14:23:39 -0700] "GET /favicon.ico HTTP/1.1" "" 404 209 "http://localhost/server-status" "###USER_AGENT###" 809 424 877
###SRC_IP### ###SITE### - ###USER### 80 [27/Apr/2016:15:33:38 -0700] "GET /favicon.ico HTTP/1.1" "" 404 209 "http://localhost/" "###USER_AGENT###" 784 424 5374
###SRC_IP### ###SITE### - ###USER### 80 [05/May/2016:12:40:08 -0700] "GET /server-status?auto HTTP/1.1" "?auto" 200 1213 "-" "###USER_AGENT###" 146 1383 1532
###SRC_IP### ###SITE### - ###USER### 80 [04/May/2016:12:43:08 -0700] "GET /server-status?auto HTTP/1.1" "?auto" 200 1213 "-" "###USER_AGENT###" 146 1383 1365
###SRC_IP### ###SITE### - ###USER### 80 [03/May/2016:12:59:05 -0700] "GET /server-status?auto HTTP/1.1" "?auto" 200 871 "-" "###USER_AGENT###" 146 1024 1153
###SRC_IP### ###SITE### - ###USER### 80 [03/May/2016:12:59:35 -0700] "GET /server-status?auto HTTP/1.1" "?auto" 200 872 "-" "###USER_AGENT###" 146 1025 1395
###SRC_IP### ###SITE### - ###USER### 80 [03/May/2016:01:35:33 -0700] "GET /server-status?auto HTTP/1.1" "?auto" 200 872 "-" "###USER_AGENT###" 146 925 976
###SRC_IP### ###SITE### - ###USER### 80 [03/May/2016:01:35:33 -0700] "GET /server-status?auto HTTP/1.1" "?auto" 200 872 "-" "###USER_AGENT###" 146 1025 877
###SRC_IP### ###SITE### - ###USER### 80 [25/Apr/2016:17:03:16 -0700] "HEAD /server-status?auto HTTP/1.1" "?auto" 200 - "-" "###USER_AGENT###" 92 153 1649
###SRC_IP### ###SITE### - ###USER### 80 [28/Apr/2016:14:23:39 -0700] "GET /favicon.ico HTTP/1.1" "" 404 209 "http://localhost/server-status" "###USER_AGENT###" 809 424 887
###SRC_IP### ###SITE### - ###USER### 80 [27/Apr/2016:15:33:38 -0700] "GET /favicon.ico HTTP/1.1" "" 404 209 "http://localhost/" "###USER_AGENT###" 784 424 5375
###SRC_IP### ###SITE### - ###USER### 80 [06/May/2016:12:40:08 -0700] "GET /server-status?auto HTTP/1.1" "?auto" 200 1213 "-" "###USER_AGENT###" 146 1383 1533
###SRC_IP### ###SITE### - ###USER### 80 [04/May/2016:12:43:08 -0700] "GET /server-status?auto HTTP/1.1" "?auto" 200 1213 "-" "###USER_AGENT###" 146 1383 1366
###SRC_IP### ###SITE### - ###USER### 80 [28/Apr/2016:15:23:39 -0700] "GET /favicon.ico HTTP/1.1" "" 404 209 "http://localhost/server-status" "###USER_AGENT###" 819 425 817
###SRC_IP### ###SITE### - ###USER### 80 [27/Apr/2016:15:33:38 -0700] "GET /favicon.ico HTTP/1.1" "" 404 209 "http://localhost/" "###USER_AGENT###" 785 422 5364

