# Nagios Core Logs
# Note that Nagios installation folder may vary according to your environment
[monitor:///usr/local/nagios/var/nagios.log]
sourcetype = nagios:core
disabled = 1

[monitor:///usr/local/nagios/var/host-perfdata]
sourcetype = nagios:core:hostperf
disabled = 1

[monitor:///usr/local/nagios/var/service-perfdata]
sourcetype = nagios:core:serviceperf
disabled = 1
